.buy {
    padding-right: 90px;
    grid-area: buy;
}

.send-form {
    background-color: white;
    padding: 10px;

    border-radius: 3px;
    margin-right: 20px;
    float: right;
}

input,
label {
    display: table-cell;
    margin: -3px;
}

input {
    border: 1px solid gainsboro;
}

.buy-button {
    width: 100%;
    background-color: rgb(31, 131, 255);
    border-radius: 3px;
    border: 0;
    color: white;
}
p {
    line-height: 10px;
    margin-bottom: 5px;
}

span {
    color: rgb(2, 131, 255);
}

@media screen and (max-width: 735px) {
    .buy {
        padding-right: 0;
    }
    .send-form {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
