.home-top {
    display: grid;
    grid-template-areas: "subscribe buy";
    padding-bottom: 50px;
    background-color: rgb(29, 46, 80);
}

.home-middle {
    margin-top: 45px;
    text-align: center;
}
.home-middle p {
    margin: 0;
    opacity: 0.8;
    line-height: 0;
}
.home-middle h2 {
    margin-top: 0;
    padding-top: 0;
    padding-top: 0;
    font-weight: bold;
}

.home-bottom{
    display: grid;
    grid-template-areas: "contact form form";
    grid-template-columns: 5fr 4fr 4fr;
}


@media screen and (max-width: 735px) {
    .home-top {
        grid-template-areas:
            "subscribe"
            "buy";

        align-items: center;
        justify-items: center;
        padding: 0;
    }
    .home-bottom{
        grid-template-areas:
        "contact"
        "form";

        text-align: center;
    }
}
