.contact{
    grid-area: contact;
    padding-left: 79px;
     
}

.contact .address{
    color: rgb(29, 46, 80);
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.contact li{
    list-style: none;
    
}

.contact .icon{
    color: rgb(2, 131, 255);
    margin-right: 10px;
    font-size: 0.8em;
}


@media screen and (max-width: 735px) {
  .contact{padding-left: 0;}

  .contact ul{
      padding-left: 0;
      
  }

  .contact li{
      display: inline;
      margin-right: 30px;
  }

  .contact .address{
   margin-top: 40px;
    margin-left: 0px;
    text-align: center;
   
}
}
