.message-form {
    grid-area: form;
}

.message-form form {
    display: grid;
    grid-template-areas:
        "n e"
        "t t";
    grid-auto-columns: max-content;
}

.message-form .title {
    font-weight: 600;
    color: rgb(104, 118, 130);
}

.full-name-field {
    grid-area: n;
    margin-left: 4px;
}

.full-name-field input {
    width: 80%;
}

.email-field input {
    width: 80%;
}

.email-field {
    grid-area: e;
}

.message-field {
    grid-area: t;
}

.message-field textarea {
    margin-top: 10px;
    resize: none;
    width: 410px;
    border: 1px solid rgb(223, 221, 221);
}

.send-message-button {
    background-color: rgb(31, 131, 255);
    border-radius: 3px;
    border: 0;
    color: white;
    width: 100px;
}
p {
    line-height: 10px;
    margin-bottom: 5px;
}

::placeholder {
    color: rgb(56, 56, 56);
    font-size: medium;
}

span {
    color: rgb(2, 131, 255);
}

.sent {
    color: red;
    font-weight: bold;
    
    grid-area: t ;
}

@media screen and (max-width: 735px) {
    .message-form form {
        margin-left: 0;
    }
    .message-field textarea {
        width: 230px;
    }

    .send-message-button {
        float: right;
    }
    .full-name-field input {
        width: 90%;
    }

    .email-field input {
        width: 90%;
    }
}
